body{
  background-image: url("../img/bg2_1920x1200.jpg");
}

img{
  width: 150px;
}

#container{
  width: 650px;
  margin: auto;
}

header > span{
  font-size: 30px;
  color: white;
}

main > button{
  border-radius: 5px;
}

.notify{
  padding: 5px 0;
  color: white;
  font-size: 30px;
}

.notify > span{
  background-color: orange;
  border-radius: 50px;
}

.email_container > .email{
  padding: 1px 0;
  font-size: 20px;
  border: 1px solid black;
  font-weight: bold;
}

.email > .email_text{
  font-weight: lighter;
  color: grey;
}

.email.unread{
  background-color:#9bbef7 ;
}

.email.read{
  background-color: white;
}

footer{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

footer > span{
  font-size: 20px;
  font-style: italic;
}
